In [1]:
import pandas as pd
import numpy as np
import sklearn
from sklearn import linear_model
from sklearn.utils import shuffle

In [2]:
# Since our data is seperated by semicolons we need to do sep = ";"
data = pd.read_csv('student-mat.csv',sep = ";")

In [3]:
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [4]:
data = data[["G1","G2","G3","studytime","failures","absences"]]

In [5]:
predict = "G3"

X = np.array(data.drop([predict],1)) #Features
y = np.array(data[predict]) #Labels

In [6]:
# Splitting data into train and test
x_train, x_test , y_train, y_test = sklearn.model_selection.train_test_split(X,y,test_size = 0.1)

In [7]:
linear = linear_model.LinearRegression()

In [8]:
linear.fit(x_train,y_train)
acc = linear.score(x_test, y_test)
print(acc)

0.8359997609272605

In [9]:
print('Coefficient : \n', linear.coef_)
print('Intercept: \n', linear.intercept_)

Coefficient :
 [ 0.17197901  0.96505991 -0.18906395 -0.23923606  0.04192347]
Intercept:
 -1.5845112936282302

In [12]:
predictions = linear.predict(x_test)

In [11]:
for x in range(len(predictions)):
    print(predictions[x],x_test[x], y_test[x])

9.575443865627726 [10 10  2  0  4] 11
9.075601647868172 [10 10  3  2  8] 10
7.733456132446754 [11  8  2  0  2] 8
11.929083491420785 [11 12  2  0 10] 13
12.923267071106801 [13 13  3  0  7] 14
11.31649972463972 [10 12  3  0  4] 12
15.696961540059691 [14 16  3  0  0] 16
8.711315832931017 [9 9 1 0 6] 10
14.727117958856246 [15 14  2  1 20] 13
7.477630186140708 [10  8  2  0  0] 9
8.287796020869324 [8 9 1 0 0] 8
9.143353758220886 [ 7 10  2  0  6] 10
5.199267197880324 [7 6 2 0 4] 6
7.699821722559374 [7 9 2 2 6] 8
10.618425200157242 [ 9  9  2  0 56] 8
8.253397081610375 [ 9  9  2  2 11] 9
5.975259682744467 [ 7  6  1  0 18] 6
9.491596932749902 [10 10  2  0  2] 10
7.695267104898253 [ 9  8  2  1 15] 8
19.028513048453988 [18 18  1  0  8] 18
7.133672159284265 [8 8 2 0 0] 9
11.681827840459889 [12 12  2  0  0] 11
16.40196253506373 [17 16  2  0  0] 17
13.074692707059839 [14 13  2  0  2] 13
3.6552983474328578 [6 5 2 1 0] 0
9.579729013300298 [11 10  2  0  0] 10
11.782759714628865 [11 12  1  0  2] 11
7.0664151083145725 [9 8 2 1 0] 0
8.88752781191484 [ 6 10  2  0  4] 10
9.843574546169329 [11 10  2  1 12] 10
11.182975741466377 [ 8 12  1  0  0] 12
20.077419888197497 [18 19  1  0 10] 19
5.807569284270986 [7 7 3 0 0] 8
13.76255657865575 [13 14  3  0  4] 14
9.361042859095402 [11  9  1  1 19] 10
17.55180124897622 [16 17  1  0  4] 18
6.7395420227492835 [6 8 1 1 0] 8
9.755442465618932 [10 10  2  1 14] 9
8.266425931905598 [8 9 2 0 4] 10
15.08865945366903 [14 15  2  0  4] 15