In [2]:
import pandas as pd
import numpy as np

In [21]:
## 1. Creating a DataFrame.
data = {'name': ['Jay', 'Ron', 'joe', 'Ross'],
        'age': ['5', '10', '7', '6'],
        'score': [9.4, 8.9, 7.2, 9]} 

df = pd.DataFrame(data)

## Parameters ##
## Data : ndarray (structured or homogeneous), Iterable, dict, or DataFrame
## index: The index (row labels) of the DataFrame.
## columns: The column labels of the DataFrame.
## dtype
## copy


print(df)

   name age  score
0   Jay   5    9.4
1   Ron  10    8.9
2   joe   7    7.2
3  Ross   6    9.0

In [13]:
df1 = pd.read_csv('C:\college\code\data analysis\MW-Pre-Open-Market-06-Sep-2022.csv')
df1

,SYMBOL \n,PREV. CLOSE \n,IEP PRICE \n,CHNG \n,%CHNG \n,FINAL PRICE \n,FINAL QUANTITY \n,VALUE,FFM CAP,NM 52W H \n,NM 52W L \n
0,TATAMOTORS,459.00,462.70,3.70,0.81,462.70,33180,"15,352,386.00","823,121,324,660.88",536.70,290.90
1,NTPC,164.50,165.80,1.30,0.79,165.80,76033,"12,606,271.40","781,599,773,731.07",166.40,112.40
2,INDUSINDBK,"1,108.00","1,115.00",7.00,0.63,"1,115.00",6567,"7,322,205.00","721,308,412,308.96","1,242.00",763.20
3,ONGC,133.40,134.10,0.70,0.52,134.10,69903,"9,373,992.30","520,244,866,284.92",194.95,117.50
4,TATACONSUM,837.45,841.65,4.20,0.50,841.65,5315,"4,473,369.75","501,639,764,422.39",889.00,650.20
5,HDFCLIFE,573.65,576.40,2.75,0.48,576.40,2923,"1,684,817.20","533,352,448,266.64",759.60,497.05
6,COALINDIA,231.60,232.70,1.10,0.47,232.70,25588,"5,954,327.60","485,277,879,381.29",236.80,139.15
7,TATASTEEL,106.90,107.40,0.50,0.47,107.40,163501,"17,560,007.40","862,253,813,860.56",147.60,82.70
8,BAJFINANCE,"7,196.20","7,228.75",32.55,0.45,"7,228.75",812,"5,869,745.00","1,916,987,532,466.42","8,050.00","5,220.00"
9,ADANIPORTS,850.90,854.70,3.80,0.45,854.70,7054,"6,029,053.80","611,122,249,678.38",924.65,651.95
10,BPCL,324.75,326.00,1.25,0.38,326.00,9052,"2,950,952.00","309,964,524,590.16",503.00,293.35
11,MARUTI,"8,950.05","8,984.30",34.25,0.38,"8,984.30",429,"3,854,264.70","1,189,597,922,041.32","9,233.65","6,536.55"
12,APOLLOHOSP,"4,282.55","4,298.90",16.35,0.38,"4,298.90",450,"1,934,505.00","437,193,137,813.10","5,935.40","3,361.55"
13,UPL,746.85,749.70,2.85,0.38,749.70,1311,"982,856.70","403,625,748,010.21",848.00,607.50
14,DRREDDY,"4,214.25","4,230.00",15.75,0.37,"4,230.00",504,"2,131,920.00","511,992,897,928.22","5,077.00","3,654.00"
15,WIPRO,405.50,407.00,1.50,0.37,407.00,23782,"9,679,274.00","600,233,773,740.30",739.85,391.00
16,KOTAKBANK,"1,937.90","1,944.95",7.05,0.36,"1,944.95",3573,"6,949,306.35","2,846,792,197,936.67","2,253.00","1,631.00"
17,ITC,328.85,330.00,1.15,0.35,330.00,62532,"20,635,560.00","2,877,276,926,399.12",329.60,207.00
18,EICHERMOT,"3,400.50","3,412.00",11.50,0.34,"3,412.00",664,"2,265,568.00","474,195,353,725.26","3,513.70","2,159.55"
19,M&M,"1,320.55","1,325.00",4.45,0.34,"1,325.00",3908,"5,178,100.00","1,264,107,393,763.98","1,330.65",671.15
20,BAJAJFINSV,"17,376.10","17,425.00",48.90,0.28,"17,425.00",984,"17,146,200.00","1,050,771,493,461.59","19,325.00","10,727.20"
21,LT,"1,968.35","1,973.80",5.45,0.28,"1,973.80",3171,"6,258,919.80","2,378,603,132,349.60","2,078.55","1,456.35"
22,ULTRACEMCO,"6,521.95","6,540.00",18.05,0.28,"6,540.00",246,"1,608,840.00","753,078,732,236.66","8,269.00","5,157.05"
23,SUNPHARMA,884.60,887.00,2.40,0.27,887.00,3865,"3,428,255.00","955,103,271,507.90",967.05,733.70
24,POWERGRID,223.40,224.00,0.60,0.27,224.00,10335,"2,315,040.00","763,574,923,210.62",248.35,170.20
25,HINDALCO,429.30,430.45,1.15,0.27,430.45,24642,"10,607,148.90","627,062,312,768.58",636.00,308.95
26,HDFCBANK,"1,495.05","1,498.90",3.85,0.26,"1,498.90",20370,"30,532,593.00","6,558,412,376,536.63","1,725.00","1,271.60"
27,BRITANNIA,"3,662.60","3,672.00",9.40,0.26,"3,672.00",302,"1,108,944.00","432,280,068,255.50","4,153.00","3,050.00"
28,AXISBANK,756.10,758.00,1.90,0.25,758.00,6785,"5,143,030.00","1,997,144,279,247.44",866.90,618.25
29,HDFC,"2,456.25","2,461.00",4.75,0.19,"2,461.00",7692,"18,930,012.00","4,449,809,781,600.00","3,021.10","2,026.00"
30,TITAN,"2,627.35","2,631.70",4.35,0.17,"2,631.70",2610,"6,868,737.00","1,096,286,734,713.72","2,768.00","1,825.05"
31,BAJAJ-AUTO,"3,956.65","3,962.00",5.35,0.14,"3,962.00",621,"2,460,402.00","515,215,808,857.35","4,131.75","3,027.05"
32,RELIANCE,"2,569.80","2,573.00",3.20,0.12,"2,573.00",14685,"37,784,505.00","8,866,342,597,731.48","2,856.15","2,180.00"
33,TCS,"3,133.40","3,135.50",2.10,0.07,"3,135.50",4886,"15,320,053.00","3,245,370,120,204.30","4,043.00","2,953.00"
34,DIVISLAB,"3,592.75","3,594.85",2.10,0.06,"3,594.85",333,"1,197,085.05","457,805,875,581.60","5,425.10","3,365.55"
35,JSWSTEEL,681.95,682.00,0.05,0.01,682.00,10581,"7,216,242.00","659,369,391,623.20",790.00,520.05
36,ICICIBANK,882.45,882.50,0.05,0.01,882.50,38938,"34,362,785.00","6,137,674,722,608.85",890.75,642.15
37,NESTLEIND,"19,259.70","19,260.70",1.00,0.01,"19,260.70",103,"1,983,852.10","687,066,973,214.72","20,609.15","16,000.00"
38,TECHM,"1,065.05","1,065.05",-,-,"1,065.05",1807,"1,924,545.35","673,189,613,794.20","1,838.00",943.70
39,HEROMOTOCO,"2,842.05","2,842.05",-,-,"2,842.05",480,"1,364,184.00","369,131,491,793.12","2,954.45","2,146.85"
40,HCLTECH,936.00,936.00,-,-,936.00,4448,"4,163,328.00","990,596,306,643.84","1,377.75",877.35
41,INFY,"1,461.30","1,461.30",-,-,"1,461.30",12441,"18,180,033.30","5,349,054,350,293.34","1,953.90","1,367.15"
42,BHARTIARTL,740.40,740.40,-,-,740.40,7678,"5,684,791.20","1,789,170,675,259.97",781.80,628.75
43,SHREECEM,"21,293.65","21,293.00",-0.65,-0.00,"21,293.00",41,"873,013.00","284,267,603,270.57","31,469.95","17,865.20"
44,SBILIFE,"1,293.40","1,293.00",-0.40,-0.03,"1,293.00",1480,"1,913,640.00","582,284,594,472.75","1,334.70","1,003.50"
45,CIPLA,"1,025.65","1,025.00",-0.65,-0.06,"1,025.00",2920,"2,993,000.00","554,494,929,747.16","1,083.00",850.00
46,ASIANPAINT,"3,424.80","3,420.00",-4.80,-0.14,"3,420.00",1641,"5,612,220.00","1,543,978,477,860.24","3,590.00","2,560.00"
47,SBIN,538.90,538.00,-0.90,-0.17,538.00,33913,"18,245,194.00","2,068,073,503,284.62",549.00,425.00
48,HINDUNILVR,"2,600.60","2,591.20",-9.40,-0.36,"2,591.20",1792,"4,643,430.40","2,321,931,873,663.74","2,859.30","1,901.55"
49,GRASIM,"1,710.75","1,704.00",-6.75,-0.39,"1,704.00",1374,"2,341,296.00","641,921,973,016.82","1,929.80","1,276.60"

In [15]:
rows, columns = df1.shape
print('rows',rows)
print('columns',columns)

rows 50
columns 11

In [17]:
## Head prints first n number of rows
print(df1.head(6))

## Head prints first n number of columns
print(df1.tail(9))

    SYMBOL \n PREV. CLOSE \n IEP  PRICE \n CHNG \n %CHNG \n FINAL PRICE \n  \
0  TATAMOTORS         459.00        462.70    3.70     0.81         462.70
1        NTPC         164.50        165.80    1.30     0.79         165.80
2  INDUSINDBK       1,108.00      1,115.00    7.00     0.63       1,115.00
3        ONGC         133.40        134.10    0.70     0.52         134.10
4  TATACONSUM         837.45        841.65    4.20     0.50         841.65
5    HDFCLIFE         573.65        576.40    2.75     0.48         576.40

   FINAL QUANTITY \n         VALUE             FFM CAP  NM 52W H \n  \
0              33180  15,352,386.00  823,121,324,660.88      536.70
1              76033  12,606,271.40  781,599,773,731.07      166.40
2               6567   7,322,205.00  721,308,412,308.96    1,242.00
3              69903   9,373,992.30  520,244,866,284.92      194.95
4               5315   4,473,369.75  501,639,764,422.39      889.00
5               2923   1,684,817.20  533,352,448,266.64      759.60

  NM 52W L \n
0      290.90
1      112.40
2      763.20
3      117.50
4      650.20
5      497.05
     SYMBOL \n PREV. CLOSE \n IEP  PRICE \n CHNG \n %CHNG \n FINAL PRICE \n  \
41        INFY       1,461.30      1,461.30       -        -       1,461.30
42  BHARTIARTL         740.40        740.40       -        -         740.40
43    SHREECEM      21,293.65     21,293.00   -0.65    -0.00      21,293.00
44     SBILIFE       1,293.40      1,293.00   -0.40    -0.03       1,293.00
45       CIPLA       1,025.65      1,025.00   -0.65    -0.06       1,025.00
46  ASIANPAINT       3,424.80      3,420.00   -4.80    -0.14       3,420.00
47        SBIN         538.90        538.00   -0.90    -0.17         538.00
48  HINDUNILVR       2,600.60      2,591.20   -9.40    -0.36       2,591.20
49      GRASIM       1,710.75      1,704.00   -6.75    -0.39       1,704.00

    FINAL QUANTITY \n         VALUE               FFM CAP  NM 52W H \n  \
41              12441  18,180,033.30  5,349,054,350,293.34    1,953.90
42               7678   5,684,791.20  1,789,170,675,259.97      781.80
43                 41     873,013.00    284,267,603,270.57   31,469.95
44               1480   1,913,640.00    582,284,594,472.75    1,334.70
45               2920   2,993,000.00    554,494,929,747.16    1,083.00
46               1641   5,612,220.00  1,543,978,477,860.24    3,590.00
47              33913  18,245,194.00  2,068,073,503,284.62      549.00
48               1792   4,643,430.40  2,321,931,873,663.74    2,859.30
49               1374   2,341,296.00    641,921,973,016.82    1,929.80

   NM 52W L \n
41    1,367.15
42      628.75
43   17,865.20
44    1,003.50
45      850.00
46    2,560.00
47      425.00
48    1,901.55
49    1,276.60

In [19]:
## Slicing a Dataframe
print(df1.iloc[0])
print(df1.iloc[0,0:5])

SYMBOL \n                    TATAMOTORS
PREV. CLOSE \n                   459.00
IEP  PRICE \n                    462.70
CHNG \n                            3.70
%CHNG \n                           0.81
FINAL PRICE \n                   462.70
FINAL QUANTITY \n                 33180
VALUE                     15,352,386.00
FFM CAP              823,121,324,660.88
NM 52W H \n                      536.70
NM 52W L \n                      290.90
Name: 0, dtype: object
SYMBOL \n         TATAMOTORS
PREV. CLOSE \n        459.00
IEP  PRICE \n         462.70
CHNG \n                 3.70
%CHNG \n                0.81
Name: 0, dtype: object

In [20]:
## Descibe
df1.describe()

       FINAL QUANTITY \n
count             50.000
mean           14364.900
std            27883.865
min               41.000
25%             1065.750
50%             3886.500
75%            11976.000
max           163501.000

In [5]:
arr1 = np.array([[9.0,8.0,7.0,5.0,9.0],[6.0,5.0,4.0,7.8,6.9],[3,4,6,4,3],[23,6,2,6,64]])
print(arr1)

arr2 = np.array([[9.0,8.0,7.0,5.0,9.0,4.0,3.2,7.9],[6.0,5.0,4.0]], dtype =object)
print(arr2)

[[ 9.   8.   7.   5.   9. ]
 [ 6.   5.   4.   7.8  6.9]
 [ 3.   4.   6.   4.   3. ]
 [23.   6.   2.   6.  64. ]]
[list([9.0, 8.0, 7.0, 5.0, 9.0, 4.0, 3.2, 7.9]) list([6.0, 5.0, 4.0])]

In [8]:
# Get Dimension
print('Dimension of Array 1-',arr1.ndim)
print('Dimension of Array 2-',arr2.ndim)

# Get Shape
print('Shape of Array 1-',arr1.shape)
print('Shape of Array 2-',arr2.shape)

# Get Type
print('Type of Array 1-',arr1.dtype)
print('Type of Array 2-',arr2.dtype)

# Get Size
print('Size ',arr1.itemsize)

# Get number of elements
print('number of elements ',arr1.size)

Dimension of Array 1- 2
Dimension of Array 2- 1
Shape of Array 1- (4, 5)
Shape of Array 2- (2,)
Type of Array 1- float64
Type of Array 2- object
Size  8
number of elements  20

In [10]:
# Get a specific element [r, c]
print(arr1[0, 3])

# Get a specific row 
print(arr1[0, :])

# Get a specific column
print(arr1[:, 2])

# Getting a little more fancy [startindex:endindex:stepsize]
print(arr1[0, 1:-1:2])

5.0
[9. 8. 7. 5. 9.]
[7. 4. 6. 2.]
[8. 5.]

In [12]:
# All 0s matrix
print(np.zeros((6,9)))
print('*'*100)
# All 1s matrix
print(np.ones((4,10,10), dtype='int32'))
print('*'*100)

# Any other number
print(np.full((5,5,5), 99, dtype='int32'))
print('*'*100)

[[0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0.]]
****************************************************************************************************
[[[1 1 1 1 1 1 1 1 1 1]
  [1 1 1 1 1 1 1 1 1 1]
  [1 1 1 1 1 1 1 1 1 1]
  [1 1 1 1 1 1 1 1 1 1]
  [1 1 1 1 1 1 1 1 1 1]
  [1 1 1 1 1 1 1 1 1 1]
  [1 1 1 1 1 1 1 1 1 1]
  [1 1 1 1 1 1 1 1 1 1]
  [1 1 1 1 1 1 1 1 1 1]
  [1 1 1 1 1 1 1 1 1 1]]

 [[1 1 1 1 1 1 1 1 1 1]
  [1 1 1 1 1 1 1 1 1 1]
  [1 1 1 1 1 1 1 1 1 1]
  [1 1 1 1 1 1 1 1 1 1]
  [1 1 1 1 1 1 1 1 1 1]
  [1 1 1 1 1 1 1 1 1 1]
  [1 1 1 1 1 1 1 1 1 1]
  [1 1 1 1 1 1 1 1 1 1]
  [1 1 1 1 1 1 1 1 1 1]
  [1 1 1 1 1 1 1 1 1 1]]

 [[1 1 1 1 1 1 1 1 1 1]
  [1 1 1 1 1 1 1 1 1 1]
  [1 1 1 1 1 1 1 1 1 1]
  [1 1 1 1 1 1 1 1 1 1]
  [1 1 1 1 1 1 1 1 1 1]
  [1 1 1 1 1 1 1 1 1 1]
  [1 1 1 1 1 1 1 1 1 1]
  [1 1 1 1 1 1 1 1 1 1]
  [1 1 1 1 1 1 1 1 1 1]
  [1 1 1 1 1 1 1 1 1 1]]

 [[1 1 1 1 1 1 1 1 1 1]
  [1 1 1 1 1 1 1 1 1 1]
  [1 1 1 1 1 1 1 1 1 1]
  [1 1 1 1 1 1 1 1 1 1]
  [1 1 1 1 1 1 1 1 1 1]
  [1 1 1 1 1 1 1 1 1 1]
  [1 1 1 1 1 1 1 1 1 1]
  [1 1 1 1 1 1 1 1 1 1]
  [1 1 1 1 1 1 1 1 1 1]
  [1 1 1 1 1 1 1 1 1 1]]]
****************************************************************************************************
[[[99 99 99 99 99]
  [99 99 99 99 99]
  [99 99 99 99 99]
  [99 99 99 99 99]
  [99 99 99 99 99]]

 [[99 99 99 99 99]
  [99 99 99 99 99]
  [99 99 99 99 99]
  [99 99 99 99 99]
  [99 99 99 99 99]]

 [[99 99 99 99 99]
  [99 99 99 99 99]
  [99 99 99 99 99]
  [99 99 99 99 99]
  [99 99 99 99 99]]

 [[99 99 99 99 99]
  [99 99 99 99 99]
  [99 99 99 99 99]
  [99 99 99 99 99]
  [99 99 99 99 99]]

 [[99 99 99 99 99]
  [99 99 99 99 99]
  [99 99 99 99 99]
  [99 99 99 99 99]
  [99 99 99 99 99]]]
****************************************************************************************************

In [15]:
# Random decimal numbers
print(np.random.rand(8,8))

# Random Integer values
print(np.random.randint(-100,867, size=(3,3)))

# The identity matrix
print(np.identity(5))

[[3.33607616e-01 5.12764413e-01 5.33565700e-01 7.28685630e-01
  9.35572944e-02 3.77647888e-01 3.16785183e-01 5.10976181e-01]
 [4.94770719e-01 9.70940291e-01 4.53878183e-01 1.90785018e-02
  2.13405263e-01 6.15607692e-04 3.99204778e-02 9.87796719e-02]
 [2.83012600e-01 9.93481168e-01 4.61420318e-01 4.00047708e-02
  3.05501448e-01 7.13905570e-01 3.87573488e-01 4.78194139e-01]
 [7.57172902e-01 3.32050390e-01 2.15146617e-01 8.93280744e-01
  3.51361809e-01 4.67415523e-01 8.74563072e-01 9.78133673e-01]
 [8.44489176e-01 9.32157498e-01 8.40372428e-01 8.82154995e-01
  1.10479156e-01 7.37307029e-02 8.44867099e-01 6.12243497e-01]
 [1.84516345e-01 3.54791251e-01 6.23189875e-01 1.45619847e-01
  7.78769200e-01 5.64054793e-01 7.73164277e-01 9.93926770e-01]
 [8.16780478e-02 1.26434545e-01 5.58178087e-02 5.41804647e-01
  5.46672300e-01 9.65590660e-01 2.88732712e-01 5.43883299e-01]
 [9.55975090e-01 4.66494528e-01 5.39398812e-01 9.65351296e-01
  8.87909230e-01 5.26704432e-01 5.73469397e-01 8.63742032e-01]]
[[753 295 834]
 [-88 518 845]
 [195 662 239]]
[[1. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0.]
 [0. 0. 1. 0. 0.]
 [0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 1.]]

In [4]:
from bs4 import BeautifulSoup

In [5]:
# import requests module
import requests
  
# Making a get request
response = requests.get('http://api.github.com')
  
# print response
print(response)
  
# print url
print(response.url)

<Response [200]>
https://api.github.com/