In [1]:
import pandas as pd
import numpy as np

In [2]:
#creating sample dataset
age=[23,18,25,19,43,28,22,34,32,33]
employ=['employed','unemployed','employed','unemployed','employed','employed','unemployed','unemployed','employed','employed']
salary=[10000,0,1000,0,400000,150000,0,0,50000,2000000]
buy=[1,1,0,0,0,1,1,1,0,1]

df=pd.DataFrame(
{
    'age':age,
    'employment_type':employ,
    'salary':salary,
    'buy':buy
    
})
#processing the categorical variables ('employed' and 'unemployed') to numerical values
employment = pd.get_dummies(df['employment_type'], drop_first = True)
df = pd.concat([df, employment], axis = 1)
df.drop(['employment_type'], axis = 1, inplace = True)

In [3]:
df.head()

   age  salary  buy  unemployed
0   23   10000    1           0
1   18       0    1           1
2   25    1000    0           0
3   19       0    0           1
4   43  400000    0           0

In [4]:
#y_data is for the single column we want to predict while x_data consists of the dependant variables (hence we remove the column 'buy' from it)
y_data = df['buy'] 
x_data = df.drop('buy', axis = 1)

In [5]:
from sklearn.model_selection import train_test_split
x_training_data, x_test_data, y_training_data, y_test_data = train_test_split(x_data, y_data, test_size = 0.3) 
# Test size is 0.3 since 30% of the data is kept for testing our model's accuracy

In [6]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [7]:
model.fit(x_training_data, y_training_data)
predictions = model.predict(x_test_data)

In [8]:
#confusion matrix
from sklearn.metrics import confusion_matrix
print (confusion_matrix(y_test_data,predictions))

[[0 2]
 [0 1]]

In [10]:
import seaborn as sns