In [1]:
import pandas as pd
import numpy as np

In [9]:
data = {'Name': ['Jay', 'Ron', 'joe', 'Ross'],
        'Age': ['5', '10', '7', '6'],
        'Score': [9.4, 8.9, 7.2, 9]} 

df = pd.DataFrame(data)


df.to_csv('C:/Users/panda/Downloads/MW-All-Indices-06-Sep-2022.csv', index= False)
df

   Name Age  Score
0   Jay   5    9.4
1   Ron  10    8.9
2   joe   7    7.2
3  Ross   6    9.0

In [11]:
df1 = pd.read_csv('C:/Users/panda/Downloads/MW-All-Indices-06-Sep-2022.csv')
df1

   Name  Age  Score
0   Jay    5    9.4
1   Ron   10    8.9
2   joe    7    7.2
3  Ross    6    9.0