<a href="https://colab.research.google.com/github/Ankit455/14_days_challenge/blob/ankit/Track%202/Day%204/Day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
train_data = pd.read_csv('drive/MyDrive/train-data.csv')
test_data = pd.read_csv('drive/MyDrive/test-data.csv')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
train_data = train_data.iloc[:,1:]
train_data.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,1.75
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,12.50
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,4.50
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,6.00
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,17.74

In [ ]:
train_data.shape

(5911, 12)

In [ ]:
train_data.isnull().sum()

Name                  0
Location              0
Year                  0
Kilometers_Driven     0
Fuel_Type             0
Transmission          0
Owner_Type            0
Mileage               2
Engine               35
Power                35
Seats                37
Price                 0
dtype: int64

In [ ]:
train_data.drop(["Name"],axis=1,inplace=True)
train_data.drop(["Mileage"],axis=1,inplace=True)
train_data.drop(["Engine"],axis=1,inplace=True)
train_data.drop(["Power"],axis=1,inplace=True)
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5911 entries, 0 to 5910
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Location           5911 non-null   object
 1   Year               5911 non-null   int64
 2   Kilometers_Driven  5911 non-null   int64
 3   Fuel_Type          5911 non-null   object
 4   Transmission       5911 non-null   object
 5   Owner_Type         5911 non-null   object
 6   Seats              5874 non-null   float64
 7   Price              5911 non-null   float64
dtypes: float64(2), int64(2), object(4)
memory usage: 369.6+ KB

In [ ]:
var = 'Location'
var1= 'Company'
train_data[var].value_counts()

Mumbai        780
Hyderabad     719
Kochi         648
Coimbatore    630
Pune          603
Delhi         550
Kolkata       525
Chennai       478
Jaipur        405
Bangalore     352
Ahmedabad     221
Name: Location, dtype: int64

In [ ]:
Location = train_data[[var]]
Location = pd.get_dummies(Location,drop_first=True)
Location.head()

,Location_Bangalore,Location_Chennai,Location_Coimbatore,Location_Delhi,Location_Hyderabad,Location_Jaipur,Location_Kochi,Location_Kolkata,Location_Mumbai,Location_Pune
0,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,1
2,0,1,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0

In [ ]:
Company= train_data[[var1]]
Company = pd.get_dummies(Company,drop_first=True)
Company.head()

KeyError: ignored