In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
dict1 ={
    "name":['veneet','rohan','somya,','shubh'],
    "marks":[92,32,24,17],
    "city":['Nashik','kolkata','aurangabad','antartica']
}

In [4]:
df = pd.DataFrame(dict1)

In [5]:
df

     name  marks        city
0  veneet     92      Nashik
1   rohan     32     kolkata
2  somya,     24  aurangabad
3   shubh     17   antartica

In [6]:
df.to_csv('friends.csv')

In [8]:
df.to_csv('friends.csv', index=False)

In [10]:
df.head(2)

     name  marks     city
0  veneet     92   Nashik
1   rohan     32  kolkata

In [11]:
df.tail(2)

     name  marks        city
2  somya,     24  aurangabad
3   shubh     17   antartica

In [12]:
df.describe()

           marks
count   4.000000
mean   41.250000
std    34.383862
min    17.000000
25%    22.250000
50%    28.000000
75%    47.000000
max    92.000000

In [13]:
data = pd.read_csv('data.csv')

In [14]:
data

,Date,series,OPEN,HIGH,LOW,PREV. CLOSE,ltp,close,vwap,52W H,52W L,VOLUME,VALUE,No of trades
0,25-Aug-2022,EQ,107.05,107.90,105.75,106.55,106.50,106.25,106.98,"1,476.00",97.15,42186335,"4,513,082,704.70",172570
1,24-Aug-2022,EQ,107.55,108.15,105.75,107.60,106.30,106.55,106.69,"1,476.00",97.15,55686404,"5,941,287,674.10",247974
2,23-Aug-2022,EQ,104.20,108.25,103.50,105.05,107.90,107.60,106.67,"1,476.00",97.15,70531639,"7,523,872,406.95",262215
3,22-Aug-2022,EQ,109.50,109.60,104.70,110.05,105.20,105.05,106.79,"1,476.00",97.15,74037526,"7,906,795,316.15",402941
4,19-Aug-2022,EQ,112.55,112.90,109.55,112.55,109.75,110.05,111.08,"1,534.50",97.15,57134813,"6,346,785,640.60",227022
5,18-Aug-2022,EQ,112.50,113.00,111.40,112.50,112.70,112.55,112.33,"1,534.50",97.15,49396425,"5,548,515,767.75",179401
6,17-Aug-2022,EQ,113.50,113.50,112.25,113.00,112.40,112.50,112.85,"1,534.50",97.15,54008422,"6,094,999,817.65",207669
7,16-Aug-2022,EQ,113.70,113.70,111.10,112.65,113.00,113.00,112.55,"1,534.50",97.15,69207437,"7,789,100,716.70",238391
8,12-Aug-2022,EQ,109.35,112.90,108.80,109.10,112.80,112.65,111.88,"1,534.50",97.15,95942333,"10,733,610,778.10",307921
9,11-Aug-2022,EQ,110.30,110.65,108.60,109.20,109.00,109.10,109.49,"1,534.50",97.15,75321498,"8,247,181,079.65",215699
10,10-Aug-2022,EQ,107.90,109.90,106.50,107.20,109.20,109.20,108.23,"1,534.50",97.15,73880698,"7,996,457,230.30",241058
11,08-Aug-2022,EQ,107.85,108.15,106.70,107.35,107.25,107.20,107.35,"1,534.50",97.15,41384943,"4,442,543,901.95",162485
12,05-Aug-2022,EQ,107.65,109.25,107.10,107.70,107.30,107.35,108.04,"1,534.50",97.15,54469112,"5,885,013,963.00",179580
13,04-Aug-2022,EQ,107.50,109.50,106.05,107.05,107.60,107.70,107.86,"1,534.50",97.15,79526154,"8,577,818,116.05",275745
14,03-Aug-2022,EQ,107.00,108.45,106.00,107.00,107.10,107.05,106.93,"1,534.50",97.15,61428846,"6,568,325,454.70",235976
15,02-Aug-2022,EQ,108.00,108.00,105.35,108.25,106.90,107.00,106.84,"1,534.50",97.15,64935371,"6,937,671,692.00",279505
16,01-Aug-2022,EQ,110.50,111.45,106.15,107.60,108.25,108.25,108.42,"1,534.50",97.15,125365761,"13,592,194,355.85",468883
17,29-Jul-2022,EQ,103.00,109.30,102.15,100.35,107.80,107.60,106.71,"1,534.50",97.15,166959934,"17,816,038,805.05",618198
18,28-Jul-2022,EQ,98.10,102.00,97.15,959.40,100.20,100.35,99.48,"1,534.50",97.15,137156107,"13,644,336,927.10",628262
19,27-Jul-2022,EQ,951.00,961.55,943.60,949.50,960.40,959.40,953.43,"1,534.50",827.00,5255902,"5,011,119,637.70",144783
20,26-Jul-2022,EQ,972.00,976.70,946.05,960.70,947.95,949.50,959.86,"1,534.50",827.00,12626469,"12,119,595,065.95",228226
21,25-Jul-2022,EQ,935.00,964.85,933.60,936.05,964.70,960.70,955.02,"1,534.50",827.00,9963563,"9,515,399,224.15",205117

In [15]:
data.describe()

,OPEN,HIGH,LOW,PREV. CLOSE,ltp,close,vwap,52W L,VOLUME,No of trades
count,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,2.200000e+01,22.000000
mean,223.440909,226.802273,220.354545,261.654545,224.100000,223.936364,223.885455,196.675000,6.710935e+07,278619.136364
std,296.659817,301.352059,293.152926,332.846430,298.381841,297.974469,297.816316,256.359876,3.884543e+07,134171.081903
min,98.100000,102.000000,97.150000,100.350000,100.200000,100.350000,99.480000,97.150000,5.255902e+06,144783.000000
25%,107.512500,108.300000,105.750000,107.237500,107.137500,107.087500,106.862500,97.150000,5.054942e+07,205755.000000
50%,108.675000,109.750000,106.600000,108.675000,108.075000,107.975000,108.135000,97.150000,6.318211e+07,237183.500000
75%,112.537500,112.975000,110.712500,112.625000,112.625000,112.537500,112.217500,97.150000,7.500050e+07,278565.000000
max,972.000000,976.700000,946.050000,960.700000,964.700000,960.700000,959.860000,827.000000,1.669599e+08,628262.000000

In [18]:
type(data)

pandas.core.frame.DataFrame

In [22]:
data.index

RangeIndex(start=0, stop=22, step=1)

In [32]:
data.T

,Date,series,OPEN,HIGH,LOW,PREV. CLOSE,ltp,close,vwap,52W H,52W L,VOLUME,VALUE,No of trades
0,25-Aug-2022,EQ,107.05,107.9,105.75,106.55,106.5,106.25,106.98,"1,476.00",97.15,42186335,"4,513,082,704.70",172570
1,24-Aug-2022,EQ,107.55,108.15,105.75,107.6,106.3,106.55,106.69,"1,476.00",97.15,55686404,"5,941,287,674.10",247974
2,23-Aug-2022,EQ,104.2,108.25,103.5,105.05,107.9,107.6,106.67,"1,476.00",97.15,70531639,"7,523,872,406.95",262215
3,22-Aug-2022,EQ,109.5,109.6,104.7,110.05,105.2,105.05,106.79,"1,476.00",97.15,74037526,"7,906,795,316.15",402941
4,19-Aug-2022,EQ,112.55,112.9,109.55,112.55,109.75,110.05,111.08,"1,534.50",97.15,57134813,"6,346,785,640.60",227022
5,18-Aug-2022,EQ,112.5,113.0,111.4,112.5,112.7,112.55,112.33,"1,534.50",97.15,49396425,"5,548,515,767.75",179401
6,17-Aug-2022,EQ,113.5,113.5,112.25,113.0,112.4,112.5,112.85,"1,534.50",97.15,54008422,"6,094,999,817.65",207669
7,16-Aug-2022,EQ,113.7,113.7,111.1,112.65,113.0,113.0,112.55,"1,534.50",97.15,69207437,"7,789,100,716.70",238391
8,12-Aug-2022,EQ,109.35,112.9,108.8,109.1,112.8,112.65,111.88,"1,534.50",97.15,95942333,"10,733,610,778.10",307921
9,11-Aug-2022,EQ,110.3,110.65,108.6,109.2,109.0,109.1,109.49,"1,534.50",97.15,75321498,"8,247,181,079.65",215699
10,10-Aug-2022,EQ,107.9,109.9,106.5,107.2,109.2,109.2,108.23,"1,534.50",97.15,73880698,"7,996,457,230.30",241058
11,08-Aug-2022,EQ,107.85,108.15,106.7,107.35,107.25,107.2,107.35,"1,534.50",97.15,41384943,"4,442,543,901.95",162485
12,05-Aug-2022,EQ,107.65,109.25,107.1,107.7,107.3,107.35,108.04,"1,534.50",97.15,54469112,"5,885,013,963.00",179580
13,04-Aug-2022,EQ,107.5,109.5,106.05,107.05,107.6,107.7,107.86,"1,534.50",97.15,79526154,"8,577,818,116.05",275745
14,03-Aug-2022,EQ,107.0,108.45,106.0,107.0,107.1,107.05,106.93,"1,534.50",97.15,61428846,"6,568,325,454.70",235976
15,02-Aug-2022,EQ,108.0,108.0,105.35,108.25,106.9,107.0,106.84,"1,534.50",97.15,64935371,"6,937,671,692.00",279505
16,01-Aug-2022,EQ,110.5,111.45,106.15,107.6,108.25,108.25,108.42,"1,534.50",97.15,125365761,"13,592,194,355.85",468883
17,29-Jul-2022,EQ,103.0,109.3,102.15,100.35,107.8,107.6,106.71,"1,534.50",97.15,166959934,"17,816,038,805.05",618198
18,28-Jul-2022,EQ,98.1,102.0,97.15,959.4,100.2,100.35,99.48,"1,534.50",97.15,137156107,"13,644,336,927.10",628262
19,27-Jul-2022,EQ,951.0,961.55,943.6,949.5,960.4,959.4,953.43,"1,534.50",827.0,5255902,"5,011,119,637.70",144783
20,26-Jul-2022,EQ,972.0,976.7,946.05,960.7,947.95,949.5,959.86,"1,534.50",827.0,12626469,"12,119,595,065.95",228226
21,25-Jul-2022,EQ,935.0,964.85,933.6,936.05,964.7,960.7,955.02,"1,534.50",827.0,9963563,"9,515,399,224.15",205117

In [33]:
data=data.T

In [34]:
data.head()

,Date,series,OPEN,HIGH,LOW,PREV. CLOSE,ltp,close,vwap,52W H,52W L,VOLUME,VALUE,No of trades
0,25-Aug-2022,EQ,107.05,107.9,105.75,106.55,106.5,106.25,106.98,"1,476.00",97.15,42186335,"4,513,082,704.70",172570
1,24-Aug-2022,EQ,107.55,108.15,105.75,107.6,106.3,106.55,106.69,"1,476.00",97.15,55686404,"5,941,287,674.10",247974
2,23-Aug-2022,EQ,104.2,108.25,103.5,105.05,107.9,107.6,106.67,"1,476.00",97.15,70531639,"7,523,872,406.95",262215
3,22-Aug-2022,EQ,109.5,109.6,104.7,110.05,105.2,105.05,106.79,"1,476.00",97.15,74037526,"7,906,795,316.15",402941
4,19-Aug-2022,EQ,112.55,112.9,109.55,112.55,109.75,110.05,111.08,"1,534.50",97.15,57134813,"6,346,785,640.60",227022

In [37]:
data["Date"]

KeyError: 'Date'

In [42]:
data.median(numeric_only=HIGH)

NameError: name 'HIGH' is not defined

In [2]:
data.get_info()

NameError: name 'data' is not defined