In [1]:
import pandas as pd
import numpy as np

In [4]:
## Dictionary Data Created For Example
data = {'name': ['Jay', 'Ron', 'Joe', 'Ross'],
        'age': [5, 10, 7, 6],
        'score': [9.4, 8.9, 7.2, 9]} 

df = pd.DataFrame(data) ##Dataframe object

df.to_csv('/home/taklu/PycharmProjects/14_days_challenge_DataAnalysis/text_csv', index= False)

print(df)

   name age  score
0   Jay   5    9.4
1   Ron  10    8.9
2   joe   7    7.2
3  Ross   6    9.0

In [5]:
## Reading CSV data from a file
df1 = pd.read_csv('/home/taklu/PycharmProjects/14_days_challenge_DataAnalysis/text_csv')

df1

   name  age  score
0   Jay    5    9.4
1   Ron   10    8.9
2   joe    7    7.2
3  Ross    6    9.0